/* Insert your styles here */
html{
    background-color: black;
    color: white;
}
main{
    padding-top: 10px;
    padding-bottom: 70px;
  
}
header {
    position:relative;
    top: 0px;
    left: 5px;
    font-size: 30px;
    text-align: center;
}
nav {
    background-color: #3C441E;
    color:white;
    position:sticky;
    top: 0px;
    font-size:20px;
    border-radius: 5px;
}
nav > h1 {
    margin-left: 20px;
    transform: translateY(30%);
    padding-bottom: 15px;
    
}
nav > ul {
    list-style: none;   
    transform: translateY(-30%);
    transform: translateX(-40px);
    display:flex;
    width:100%;
    
}

nav > ul> li {
    display:inline;
    padding: 3px 5px;
    border-style:solid;
    border-radius: 5px;
    border-color:#77853c;
    flex:1;
    text-align:center;
}
footer {
    background-color:#6F7B37;
    color:hsl(111, 25%, 80%) ;
    width:100%;
    position: fixed;
    bottom: 0px;
    opacity: 90%;
  }
  