html {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

main {
    padding-top: 10px;
    padding-bottom: 100px;
    /*Adapted from https://www.w3schools.com/howto/howto_css_parallax.asp */
    background-image: url("../media/risingsun.png");
    /*https://en.wikipedia.org/wiki/Rising_Sun_(badge)#/media/File:Australian_Army_Emblem.svg */
    height: auto;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto;
    z-index: -2;
}

article {
    font-size: 25px;
    font-family: Quattrocento Sans, sans-serif;
    background-color: rgba(11, 37, 14, 0.8);
    box-sizing: border-box;
    border-style: solid;
    padding: 15px 10px;
    width: 70%;
    margin: 0 13%;
}

article>h2 {
    font-size: 30px;
    font-family: 'Lora', serif;
}

#baker {
    overflow: auto;
    margin-left: auto;
}

#service {
    overflow: auto;
    margin: auto;
}

header>div {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 0px;
    left: 5px;
    text-align: center;
}

nav {
    background-color: #3C441E;
    color: white;
    position: sticky;
    top: 0px;
    font-size: 25px;
    border-radius: 5px;
}

nav>h1 {
    display: none;
    margin-left: 20px;
    margin-bottom: 15px;
    transform: translateY(30%);
}

nav>ul {
    list-style: none;
    transform: translateY(-30%);
    transform: translateX(-40px);
    display: flex;
    width: 100%;
}

nav a:link,
a:visited,
#location {
    width: 100%;
    display: inline;
    padding: 3px 5px;
    border-style: solid;
    border-radius: 5px;
    border-color: #77853c;
    text-align: center;
    transition: 1s;
    z-index: 10;
}

nav a {
    background-color: #3C441E;
    color: white;
    text-decoration: none;
}

nav a:hover {
    background-color: #c3db61;
    color: #1b1f0f
}

#location {
    background-color: #131309;
}

#location:hover {
    background-color: #131309;
    color: white;
}

article.postcard div {
    border: 4px groove;
    color: black;
    background-color: #ddd;
    height: auto;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 10px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

article.postcard div img {
    left: 0;
    top: 0;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    position: relative;
    z-index: 1;
}

.carddate {
    text-align: right;
    font-size: 28px;
    font-family: 'Shadows Into Light', cursive;
}

.cardnote {
    text-align: right;
    font-style: italic;
}

.cardcontent {
    font-size: 25px;
    font-family: 'Shadows Into Light', cursive;
}

.cardend {
    text-align: center;
}

.watermark {
    opacity: 50%;
    float: right;
    padding-right: 10px;
}

footer {
    font-size: 12px;
    background-color: #6F7B37;
    color: hsl(111, 25%, 80%);
    height: fit-content;
    width: 100%;
    position: fixed;
    bottom: 0px;
    opacity: 90%
}

@media only screen and (min-width: 600px) {}

@media only screen and (min-width: 1000px) {
    header {
        font-size: 30px;
    }
    article.postcard {
        box-sizing: border-box;
        height: auto;
        width: 80%;
        margin: 0 10%;
        position: relative;
    }
    article.postcard div {
        width: 100%;
        padding: 5px 10px;
        position: absolute;
        transition: 3s;
        backface-visibility: hidden;
    }
    article.postcard div:nth-child(1) {
        transform: rotateY(0deg);
    }
    article.postcard div:nth-child(2) {
        transform: rotateY(180deg);
    }
    article.postcard:hover div:nth-child(1) {
        transform: rotateY(180deg);
    }
    article.postcard:hover div:nth-child(2) {
        transform: rotateY(360deg);
    }
    footer {
        font-size: 15px;
    }
    #baker {
        float: left;
        overflow: auto;
        margin: 0 2%;
    }
    #service {
        float: right;
        overflow: auto;
        margin: 0 1%;
    }
}